/**
 * Global Colors Variable
 */

$colors: (
  primary100: #5cbdff,
  primary200: #0890ff,
  primary300: #086eff,
  secondary: #e3eef6,
  blackDark: #1d1d1d,
  blackSoft: #1f272e,
  background: #f9fafa,
  greyLight: #ebeef0,
);
