/**
 * Shadow Variable
 */

$shadows: (
  default-1: 0 0 6px 0 rgba(black, 0.2),
  default-2: 0 0 16px 0 rgba(black, 0.1),
  elevate-xs: 0 1px 5px 0 rgba(black, 0.12),
  elevate-sm: 0 2px 8px 0 rgba(black, 0.1),
  elevate-md: 0 4px 8px 0 rgba(black, 0.15),
  elevate-lg: 0 8px 16px 0 rgba(black, 0.2),
  elevate-xl: 0 10px 50px 0 rgba(black, 0.08),
);
