/**
 * Text Style Component Helper
 */

.bold {
  @include font-weight(bold);
}

.regular {
  @include font-weight(normal);
}

.light {
  @include font-weight(300);
}

.semibold {
  @include font-weight(500);
}

.italic {
  @include font-style(italic);
}

.break-word {
  word-wrap: break-word;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.no-wrap,
%no-wrap {
  white-space: nowrap;
}

.truncate {
  @extend %no-wrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-without-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Text Align
 */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/**
* Vertical Align
*/

.align-top {
  vertical-align: top;
}

.align-bottom {
  vertical-align: bottom;
}

.align-middle {
  vertical-align: middle;
}

.align-baseline {
  vertical-align: baseline;
}
