@import "common/styles/import.scss";

.ui-table {
  width: 100%;

  @include bg-color(white);

  th,
  td {
    height: 36px;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  th {
    user-select: none;
  }

  .icon-sort-asc {
    cursor: pointer;
    transform: rotate(0deg) translate(0, 3px);
    transition: transform 0.2s ease-in-out;
  }
  .icon-sort-desc {
    cursor: pointer;
    transform: rotate(-180deg) translate(0, 0);
    transition: transform 0.2s ease-in-out;
  }
}
